.HMenu a {
  text-decoration: underline;
}

.HMenu ul  {
  list-style: none;
  position: relative;
  display: inline-table;
  z-index: 1000;
}

.HMenu ul li {
  float: left;
  padding: 20px;
}

.HMenu ul ul {
  display: none;
  position: absolute;
  top: 100%;
}

.HMenu ul li:hover > ul {
  display: block;                                  
}

.HMenu ul ul li {
  float: none;
  position: relative;
  z-index: 1;
}

.HMenu ul ul ul {
  position: absolute;
  left: 100%;
  top:0;
}